.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 100px;
  .pagination_pages {
    display: flex;
    gap: 10px;
    .pagination_pages_page {
      cursor: pointer;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      border-radius: 10px;
    }
    .on_page {
      background-color: #4dad5b;
    }
  }
  .pagination_button--not_view {
    visibility: hidden;
  }
}
