.searchinput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .search_form {
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      cursor: pointer;
    }
  }
  .search_result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      li {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 20%;
        height: auto;
      }
    }
  }
}
