.series {
  width: 100%;
  min-height: 80vh;
  padding: 30px;

  &__search {
    height: auto;
    padding: 25px;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search-group {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    color: #2d3748;
  }

  &__input {
    padding: 8px 15px;
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    outline: none;
    font-size: 14px;

    &:focus {
      border-color: #4dad5b;
    }
  }

  &__select {
    padding: 8px 15px;
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    color: #2d3748;
    background-color: #4dad5b;
    color: white;

    &:focus {
      outline: none;
    }

    option {
      background-color: white;
      color: #2d3748;
    }
  }
}
