.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: 10vh;
  .header_nav {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #898989;
    cursor: pointer;
    padding: 20px;
  }
  .active {
    background-color: #4dad5b;
    color: white;
  }
}
